h1 {
  color: #27aedb;
  text-align: center;
}

button {
  color: #27aedb;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-right: 10px;
  height: 50px;
}
h3 {
  text-align: center;
  font-size: 25%;
}
input {
  margin-right: 10px;
  margin-bottom: 10px;
}
h3 {
  font-size: x-large;
}
#main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: moccasin;
  height: 400px;
  width: 400px;
}
